body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #F5F5F5;
    color: #40407A;
    width: 80%;
    margin: 0 auto;
}
header, footer {
    width: 100%;
    text-align: center;
    background-color: #80CBC4;
    padding: 0;
}
header h1 {
    padding: 0.3em;
}
nav {
    word-spacing: 1em; 
    text-align: center;
}
nav > a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
footer  p {
    margin: 0;
}
dt {
    font-weight: bold;
}
footer small {
    font-size: 0.8em;
}